.cards{
    display: flex;
    justify-content: space-between;
    background-color: #f3f3f3;
    gap: 1rem;
    
}
.card{
    
    background-color: #ffff; 
    flex-grow: 1;   
}

.card2{
    background-color: #ffff;
    height: 176px;
    padding-left: 18px;
    padding-right: 19px;
}

.boxSizes{
    width: 33%;
    padding-left: 10px;
}

.buttons{
    display: flex;
    gap: 1rem;
    
}

.radiobuttons{
    padding-left: 10px;
}