.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-between; */
    margin: 0 auto;
    width: 95%;
    gap: 1rem;
    background-color: #f3f3f3
    
}
.card{
    width: 23%;
    height: 362px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #ffff;

}
.btns{
    display: flex;
    /* justify-content:space-between; */
    gap: 2rem;
}
.imgBox{
    width: 77%;
    height: 13rem;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
}

.imgBox img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.button-colors{
    --sds-c-button-brand-color-background: #dda556; 
    --sds-c-button-brand-color-background-hover: #f3bc56; 
    --sds-c-button-brand-color-border: #ee9842; 
    --sds-c-button-brand-color-border-hover: #f87c2a; 
    --sds-c-button-brand-text-color: #100f0f;
}