.card{
    border: 1px solid black;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-image: url('/resource/background');
    background-repeat: no-repeat;
    background-size: cover;
    width: 99%;
    

}

.submit-button{
    
    --sds-c-button-brand-text-color: #131111;
    --sds-c-button-brand-color-background-hover: #226d1d; /* Color on hover */
    --sds-c-button-brand-color-border: #176215; /* Custom border color */
    --sds-c-button-brand-color-border-hover: #2b711b;
}