.buttonsbackground {
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 135px;
   
    background-color:rgb(243 216 63);
    padding: 5px 20px;

}  

/* .homes{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-grow: 1;
} */

.cart{
    display: flex;
    justify-content:flex-end;
    margin-top: 1rem;
    align-items: center;
    margin-right: 1%;
    
    
}
.logoutCart{
    display: flex;
    justify-content:flex-end;
    margin-top: 1rem;
    align-items: center;
    margin-right: 1%;
    
    
    
}

.custom-button {
    
    --sds-c-button-text-color:#171515;
}

.card{
    background-color: #f3f3f3;
}