/* .card{
    background-color: #f3f3f3;
}

.box{
    border: 1px solid #2c2a2a;
    padding: 10px;
    width:17%;
} */

.card{
    background-color: #f3f3f3;
}

.layout{
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.selected{
    flex: 2;
    background-color: #ffff;
    padding: 3%
}

.similar{
    flex: 4;
    border-left: 1px solid #ddd;
    padding-left: 15px;
}

.productImgBox{
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.productImgBox img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.box{
    /* border: 1px solid #2c2a2a; */
    padding: 10px;
    width: 50%;
}

.similarCard{
    
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background: white;
    width: 281px;
}

.similarImgBox{
    width: 52%;
    /* height: 120px; */
    overflow: hidden;
}

.similarImgBox img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.button-colors{
    --sds-c-button-brand-color-background: #dda556; 
    --sds-c-button-brand-color-background-hover: #f3bc56; 
    --sds-c-button-brand-color-border: #ee9842; 
    --sds-c-button-brand-color-border-hover: #f87c2a; 
    --sds-c-button-brand-text-color: #100f0f;
}
.btns{
    display: flex;
    /* justify-content:space-between; */
    gap: 2rem;
}